$button-size: 90px;

.form {
  position: relative;
  border-bottom: 2px solid var(--Smokey-grey-hr);
  padding-bottom: 40px;

  &>div {
    display: flex;
    gap: 30px;
  }

  &>div:last-child {
    justify-content: end;
  }

  label {
    display: block;
    color: var(--Smokey-grey);
    margin-bottom: 7px;
    font-weight: 700;
  }
}

input {
  padding: 10px 20px;
  display: inline;
  width: 100%;
  max-width: 150px;
  border: 1px solid;
  border-radius: 10px;
  font-size: var(--Font-size-inputs);
}

input:focus {
  outline: 1px solid var(--Purple);
}

.form button {
  background-color: var(--Off-black);
  padding: 20px;
  border-radius: 50%;
  transition: background-color .3s ease;

  &:hover {
    background-color: var(--Purple);
  }
}

.form button {
  position: absolute;
  width: $button-size;
  height: $button-size;

  img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 730px) {
  $button-size: 70px;
  .form .btn-wrapper {
    justify-content: center !important;
    padding: 20px;

     button {
      width: $button-size;
      height: $button-size;
      bottom: calc(($button-size / 2) * -1);
    }
  }
}